name: Go Test
on: [push]
jobs:
  build:
    name: Test 
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Run Go Test
      run: find . -maxdepth 1 -type d -regextype posix-extended -regex '^\.\/problem[0-9]{1,3}$' -exec go test -v {} \;
